/* Importando as fontes do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body,
html {
    background-color: #000;
    color: #fff;

}
.git {

  color: unset;
  text-decoration: none;
  opacity: 0.6;

  transition: 400ms;
}

.git:hover {

  opacity: 1;
}

#vendas {
  padding: 40px 10px;
}

.card-largura {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}